body {
    background-color: rgb(34, 34, 34);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}
#header{
    text-align: center;
}
.board-active {
    width: 45rem;
    margin: auto;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1px;
}
.square{
    background-color: black;
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 100px;
    font-weight: bold;
    color: white;
}
.square:hover{
    background-color: rgb(56, 56, 56);
    cursor: pointer;
}
.square:active{
    background-color: black;
}
#buttons{
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}
#form-buttons{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    gap: 5px;
}

#reset-button{
    padding: 1rem;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 1rem;
    background-color: rgb(201, 73, 73);
    border: none;
}
#reset-button:hover{
    background-color: rgb(151, 73, 73);
    cursor: pointer;
}
#reset-button:active{
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.5);
}

#open-dialog{
    padding: 1rem;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 1rem;
    background-color: rgb(73, 201, 73);
    border: none;
}
#open-dialog:hover{
    background-color: rgb(73, 151, 73);
    cursor: pointer;
}
#open-dialog:active{
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.5);
}

#start-game{
    padding: .5rem;
    font-size: 14px;
    font-weight: bold;
    border-radius: 1rem;
    background-color: rgb(73, 201, 73);
    border: none;
}
#start-game:hover{
    background-color: rgb(73, 151, 73);
    cursor: pointer;
}
#start-game:active{
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.5);
}

#close-dialog{
    padding: .5rem;
    font-size: 14px;
    font-weight: bold;
    border-radius: 1rem;
    background-color: rgb(201, 73, 73);
    border: none;
}
#close-dialog:hover{
    background-color: rgb(151, 73, 73);
    cursor: pointer;
}
#close-dialog:active{
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.5);
}

dialog{
    border: none;
    background-color: black;
    color: white;
    padding: 3rem;
    border-radius: 2rem;
}
#error-message{
    color: rgb(201, 73, 73);
    text-align: center;
}

#player-info{
    display: grid;
    gap: 10px;
    font-size: 18px;
    background: none;
}
.inputs{
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: start;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}
.inputs input{
    background-color: white;
    border-radius: 1rem;
    border: none;
    outline: none;
    padding: 9px;
    font-size: 18px;
}
#round{
    display: grid;
    align-items: center;
    justify-items: center;
}

#score-board div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    border: 1px solid white;
}

#status-message, #win-message{
    text-align: center;
    height: 0px;
    padding: 1rem;
}